body{
    background-color: whitesmoke;
}
h1{
    padding-left: 45%;
    padding-top: 1%;
    padding-bottom: 1%;
    background: rgb(62, 60, 60);
    color: whitesmoke;
}
section {
	background-color: #fff;
	padding: 20px;
	margin-bottom: 20px;
	box-shadow: 0 0 5px rgba(0,0,0,0.1);
	border-radius: 5px;
}

section h2 {
	margin-top: 0;
}

section p {
	line-height: 1.5;
}

section a {
	display: block;
	margin-top: 10px;
	font-weight: bold;
	color: #333;
	text-align: right;
}